{% extends 'base.html' %}
{%block head_title%}Subscriber - {%endblock%}
{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                管理電子報名單
            </h1>
            <h2 class="subtitle">
                Admin Subscriber List
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="content">
                    <h3>名單</h3>
                </div>
                <div class="buttons">
                    <a class="button is-outlined is-dark" href="./add">
                        <span>上傳新增</span>
                    </a>
                    <a class="button is-outlined is-dark" href="./list">
                        <span>瀏覽名單</span>
                    </a>
                    <a class="button is-outlined is-dark" href="./open">
                        <span>開信統計</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
