{% extends 'base.html' %}
{%block head_title%}Subscriber List - {%endblock%}
{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                訂閱名單
            </h1>
            <h2 class="subtitle">
                Subscriber List
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active"><a href="./">返回</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container" id="subscribelist" v-cloak>
        <button class="button" v-on:click="load">共 [[ datas.length ]] 筆</button>
        <button class="button" v-on:click="dl($event)">下載資料</button>
        <div class="table-container" v-if="datas.length">
            <table class="table">
                <thead>
                    <tr>
                        <th>index</th>
                        <th>code</th>
                        <th>status</th>
                        <th>verify</th>
                        <th>uni mail</th>
                        <th>name</th>
                        <th>mail</th>
                        <th>admin code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, index) in datas">
                        <td style="vertical-align:middle;">[[ index+1 ]].</td>
                        <td style="vertical-align:middle;"><span class="tag is-family-monospace">[[ data.code ]]</span></td>
                        <td style="vertical-align:middle;">
                            <a class="button is-outlined"
                                v-on:click="changestatus(data, $event)">
                                <span class="icon"
                                      :class="{'has-text-success': data.status, 'has-text-danger': !data.status}">
                                    <i v-if="data.status" class="fas fa-check-circle"></i>
                                    <i v-if="!data.status" class="far fa-times-circle"></i>
                                </span>
                            </a>
                        </td>
                        <td style="vertical-align:middle;">
                            <a v-if="data.verified_email" class="button is-static">
                                <span class="icon has-text-info">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </a>
                            <a v-if="!data.verified_email" class="button is-outlined"
                               v-on:click="sendverify(data, $event)">
                                <span class="icon has-text-success-dark"><i class="far fa-paper-plane"></i></span>
                                <span>[[ data.verifytimes ]]</span>
                            </a>
                        </td>
                        <td style="vertical-align:middle;">[[ data._id ]]</td>
                        <td style="vertical-align:middle;">[[ data.name ]]</td>
                        <td style="vertical-align:middle;">
                            <span class="tag" :title="data.mails.join(', ')"
                                  :class="{'is-warning': data.mails.length > 1}"
                                >
                                [[ data.mails.length ]]
                            </span>
                        </td>
                        <td style="vertical-align:middle;">
                            <a class="button is-outlined" v-on:click="getcode(data, $event)">
                                Get Code
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function() {
        let $subscribelist = new Vue({
            el: '#subscribelist',
            data: {
                datas: []
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    let btn = this.$el.querySelector('button');
                    btn.classList.add('is-loading');
                    axios.post('./list', {casename: 'get'}).then(function(resp) {
                        resp.data.datas.sort(function(a, b) {
                            if (a._id > b._id) {
                                return 1;
                            }
                            if (a._id < b._id) {
                                return -1;
                            }
                            return 0;
                        });
                        resp.data.datas.forEach(function(data) {
                            if (data.verified_email == false) {
                                data.verifytimes = 0;
                            }
                        });
                        $subscribelist.datas = resp.data.datas;
                        btn.classList.remove('is-loading');
                    });
                },
                getcode: function(data, $e) {
                    if (data.admin_code.length > 0 ) {
                        return;
                    }

                    let btn = $e.target;
                    btn.classList.add('is-loading');
                    axios.post('./list', {casename: 'getcode', _id: data._id}).then(function(resp) {
                        data.admin_code = resp.data.code;
                        btn.href = 'https://secretary.coscup.org/subscriber/code/'+data.admin_code;
                        btn.innerText = 'Code';
                        btn.classList.add('is-info');
                        btn.classList.remove('is-loading');
                    });
                },
                sendverify: function(data, $e) {
                    let btn = $e.target;
                    data.verifytimes = data.verifytimes + 1;

                    btn.classList.add('is-loading');
                    axios.post('./list', {casename: 'sendverify', _id: data._id}).then(function(resp) {
                        btn.classList.remove('is-loading');
                    });
                },
                changestatus: function(data, $e) {
                    data.status = !data.status;
                },
                dl: function($e) {
                    let btn = $e.target;
                    btn.classList.add('is-loading');

                    axios({url: './list/dl', method: 'GET', responseType: 'text'}).then(function(resp) {
                        window.URL = window.webkitURL || window.URL;
                        let link = document.createElement('a');

                        link.href = window.URL.createObjectURL(new Blob([resp.data], {type: 'text/csv'}));
                        link.setAttribute('download', resp.headers['x-filename']);
                        document.body.appendChild(link);
                        link.click();
                        link.remove();
                        btn.classList.remove('is-loading');
                    });
                }
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
