{% extends 'base.html' %}
{%block head_title%}Subscriber Add - {%endblock%}
{% block body %}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                新增電子報名單
            </h1>
            <h2 class="subtitle">
                Add Subscriber List
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active"><a href="./">返回</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="content">
                    <h3>新增名單</h3>
                </div>
                <form class="form" method="POST" enctype="multipart/form-data">
                    <div class="field">
                        <div class="control">
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="file" accept="text/csv">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-outlined is-dark">
                                上傳新增
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
