{% extends 'base.html' %}
{%block head_title%}Subscriber List - {%endblock%}
{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                訂閱名單
            </h1>
            <h2 class="subtitle">
                Subscriber List
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container" id="subscribelist" v-cloak>
        <button class="button" v-on:click="load">共 [[ datas.length ]] 筆</button>
        <div class="table-container" v-if="datas.length">
            <table class="table">
                <thead>
                    <tr>
                        <th>index</th>
                        <th>code</th>
                        <th>uni mail</th>
                        <th>name</th>
                        <th>mail</th>
                        <th>admin code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, index) in datas">
                        <td>[[ index+1 ]].</td>
                        <td>[[ data.code ]]</td>
                        <td>[[ data._id ]]</td>
                        <td>[[ data.name ]]</td>
                        <td>[[ data.mails ]]</td>
                        <td><a :href="'https://secretary.coscup.org/subscriber/code/'+ data.admin_code">[[ data.admin_code ]]</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (function() {
        let $subscribelist = new Vue({
            el: '#subscribelist',
            data: {
                datas: []
            },
            mounted: function() {
                this.load();
            },
            methods: {
                load: function() {
                    let btn = this.$el.querySelector('button');
                    btn.classList.add('is-loading');
                    axios.post('./list', {casename: 'get'}).then(function(resp) {
                        resp.data.datas.sort(function(a, b) {
                            if (a._id > b._id) {
                                return 1;
                            }
                            if (a._id < b._id) {
                                return -1;
                            }
                            return 0;
                        });
                        $subscribelist.datas = resp.data.datas;
                        btn.classList.remove('is-loading');
                    });
                },
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
