{% extends 'base_subscribe.html' %}
{%block head_title%}Subscriber login - {%endblock%}
{% block body %}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                取得登入權限
            </h1>
            <h2 class="subtitle">
                Get Login Certification
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    <h3>輸入訂閱的信箱</h3>
                </div>
                <form class="form" method="POST">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" name="mail" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">我不是機器人 / I am human</label>
                        <div class="control">
                            <div class="h-captcha" data-sitekey="b281a373-2fc9-4359-9e15-ce908cd2a64c"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-outlined is-dark">
                                送出
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://hcaptcha.com/1/api.js" async defer></script>
{% endblock %}
