{% extends 'base_subscribe.html' %}
{%block head_title%}Subscriber Info - {%endblock%}
{% block body %}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                訊息
            </h1>
            <h2 class="subtitle">
                Info Messages
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% if '001' in show_info %}
                <article class="message is-warning">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                            <span>訊息</span>
                        </p>
                    </div>
                    <div class="message-body">
                        使用錯誤的管理頁面連結或無效的非機器人驗證。
                    </div>
                </article>
                {% endif %}
                {% if '002' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>登入連結</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已將登入連結寄送到信箱，請透過連結登入管理。
                    </div>
                </article>
                {% endif %}
                {% if '003' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>登入失敗</span>
                        </p>
                    </div>
                    <div class="message-body">
                        登入憑證已過期，請重新取得登入憑證。
                    </div>
                </article>
                {% endif %}
                {% if '004' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>已清除</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已清除憑證，感謝使用。
                    </div>
                </article>
                {% endif %}
                {% if '005' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>信箱確認</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已確認信箱，感謝訂閱。
                    </div>
                </article>
                {% endif %}
                {% if '006' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>需要允許</span>
                        </p>
                    </div>
                    <div class="message-body">
                        需要您的允許才可以繼續。Need your approval.
                    </div>
                </article>
                {% endif %}
                {% if '007' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>感謝 Thank you</span>
                        </p>
                    </div>
                    <div class="message-body">
                        感謝訂閱。Thank you for your subscription.
                    </div>
                </article>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
