{% extends 'base_subscribe.html' %}
{%block head_title%}Subscriber Info - {%endblock%}
{% block body %}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                訊息
            </h1>
            <h2 class="subtitle">
                Info Messages
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {% if '001' in show_info or '000' in show_info %}
                <article class="message is-warning">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                            <span>訊息 / Message</span>
                        </p>
                    </div>
                    <div class="message-body">
                        使用錯誤的管理頁面連結或無效的非機器人驗證。 Using the wrong Login link or not pass the 'I am human'.
                    </div>
                </article>
                {% endif %}
                {% if '002' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>登入連結 / Login link</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已將登入連結寄送到信箱，請透過連結登入管理。 Login link alreay send to you, please check your inbox.
                    </div>
                </article>
                {% endif %}
                {% if '003' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>登入失敗 / Login Fail</span>
                        </p>
                    </div>
                    <div class="message-body">
                        登入憑證已過期，請重新取得登入憑證。 Login token expired, please click management link to re-isuess the token.
                    </div>
                </article>
                {% endif %}
                {% if '004' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>已清除 / Logout</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已清除憑證，感謝使用。 Session removed, thanks.
                    </div>
                </article>
                {% endif %}
                {% if '005' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>信箱確認 / Email confirmed</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已確認信箱，感謝訂閱。 Email confirmed, thanks.
                    </div>
                </article>
                {% endif %}
                {% if '006' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>需要允許</span>
                        </p>
                    </div>
                    <div class="message-body">
                        需要您的允許才可以繼續。Need your approval.
                    </div>
                </article>
                {% endif %}
                {% if '007' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>感謝 Thank you</span>
                        </p>
                    </div>
                    <div class="message-body">
                        感謝訂閱。Thank you for your subscription.
                    </div>
                </article>
                {% endif %}
                {% if '008' in show_info or '000' in show_info %}
                <article class="message is-info">
                    <div class="message-header">
                        <p>
                            <span class="icon"><i class="fas fa-exclamation-circle"></i></span>
                            <span>已取消訂閱 / Unsubscribed</span>
                        </p>
                    </div>
                    <div class="message-body">
                        已取消訂閱，請重新訂閱。 Unsubscribed, please re-subscribe.
                    </div>
                </article>
                <a href="/subscribe/coscup" class="button is-outlined is-dark">Go to Subscribe</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
